.color-pallette-1 {
  color: #462255;
  color: #313b72;
  color: #62a87c;
  color: #7ee081;
  color: #c3f3c0;
}

.color-pallette-2 {
  color: #071619;
  color: #204d69;
  color: #1e4d59;
  color: #2c677e;
  color: #3a81af;
  color: #599097;
  color: #c4d2cf;
  color: #e4b049;
  color: #e2af49;
  color: #de8244;
  color: #ee6867;
  color: #f99595;
  color: #c0b08f;
  color: #f6ebd5;
  color: #f7eed7;
  color: #f3ead5;
  color: #7b8898;
  color: #89918e;
  color: #7a817e;
  color: #999999;
  color: #666666;
  color: #556271;
  color: #333333;
  color: #333;
}

/* Color Pallette 1
{
    "Russian Violet":"462255",
    "Dark Cornflower Blue":"313b72",
    "Shiny Shamrock":"62a87c",
    "Light Green":"7ee081",
    "Tea Green":"c3f3c0"
}
*/
